.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main{
  padding: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.InputField{
  width: 1100px;
  height: 32px;
  padding: 16px;
  margin: 32px;
  border-radius: 8px;
  font-size: medium;
}

.container{
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.generate-button{
  display: flex;
  width: 1100px;
  height: auto;
  padding: 16px;
  margin: 32px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 154, 241, 1);
  border: 2px solid rgba(0, 154, 241, 1);
  color: white;
  font-size: medium;
}

.generate-button :hover{
  background-color: rgb(0, 100, 158);
  border: 2px solid rgb(0, 100, 158);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
